#root {
background-color: #161625;
/* padding: 20px; */

}

.headerText{
  letter-spacing: 2px;
}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

span{
  color: rgba(9, 140, 109, 0.809);
}

.closes{
  position: absolute;
  right: 3rem;
  font-size: 20px;
  /* top: 20px; */
}


input{
  position: relative;
  width: 300px;
  background-color: transparent;
  padding: 5px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid rgb(234, 59, 5);
  color: antiquewhite;
  mix-blend-mode: color-dodge;

  
}

.button{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  mix-blend-mode: color-dodge;

}
.add{
  display: flex;
  align-items: center;
  width: 200px;
  margin-top: 30px;
  gap: 10px;
  mix-blend-mode: color-dodge;
}

.addText{
  border: 1px solid #cc1414;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.update{
  border: 1px solid #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 200px;
}

.signModal{
  position: absolute;
  right: 30px;
}

.signCloser{
  position: relative;
}

p{
  
  font-size: 18px;
}